/* ******************************************** */
/* BELOW 550PX MOBILE NAVIGATION */
/* ******************************************** */
@media (max-width: 45rem) {
  body {
    width: 45rem;
  }
  .container {
    width: 65.9rem;
  }
  .header {
    width: 65.9rem;
    background-color: var(--hero-background);
  }
  .hero-section {
    /* width: 61rem; */
  }
  .hero {
    grid-template-columns: 1fr;
    width: 61rem;
    background-color: var(--hero-background);
    text-align: center;
  }
  .hero img {
    width: 80%;
  }
  .btn-nav-mobile {
    display: block;
  }
  .main-nav {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    /* HIDE NAV FORMOBILE */
    /* display: none; */

    pointer-events: none;
    visibility: hidden;
  }
  .featured-in {
    width: 65.9rem;
  }
  .featured-in img {
    width: 100%;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .section-how {
    grid-template-columns: 1fr;
  }
  .feature {
    grid-template-columns: 1fr;
  }
  .second-feature {
    grid-template-columns: 1fr;
  }
  .reel {
    grid-template-columns: 1fr;
  }
  .service {
    grid-template-columns: 1fr;
  }
  .second-service {
    padding: 2rem;
  }
  .portfilio {
    width: 61rem;
  }
  .portfolio-nav-list {
    gap: 4rem;
  }
  .designs {
    overflow: hidden;
    padding: 1rem 2rem;
  }
  .designs img {
    width: 80%;
    height: 30rem;
    transition: all 0.3s;
  }
  .designs img:hover {
    transform: scale(1.04);
  }
  .agenies-help {
    grid-template-columns: 1fr;
    width: 24rem;
  }
  .help {
    border-right: none;
  }
  .started {
    width: 40rem;
    height: 80rem;
    border-radius: 9px;
    padding: 2rem;
    background-color: #ffd7d1;
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
  }
  .started-text-box img {
    transform: translateY(-7.5rem);
  }

  .started-text-box {
    padding: 2rem;
    transform: translateY(1.2rem);
  }
  .started-text-box a {
    margin: 0;
    padding: 1rem 2rem;
  }
  .started-text-box img {
    height: 5rem;
  }
  .started-text-box h2 {
    font-size: 3.2rem;
    line-height: 4rem;
    padding-bottom: 2rem;
  }
  .started-text-box h5 {
    padding-bottom: 2rem;
    font-size: 1.6rem;
  }
  .started-imgone-box {
    transform: translateY(1rem);
  }
  .started-imgtwo-box {
    transform: translateY(-3.5rem);
  }
  .started-imgone-box {
    height: 16rem;
  }
}
